<a href="https://colab.research.google.com/github/0-Parth-D/Dataset-Extraction-and-Exploration/blob/main/Dataset_Extraction_and_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
abnb_rewiews = pd.read_csv("/content/drive/MyDrive/reviews.csv")
abnb_rewiews.sample(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
2021363,12874125,620254366,2020-03-21,340746762,Di,还蛮干净的，性价比真的不错。
13226661,30123982,479088738,2019-06-30,248285746,Marc,The house is situated in a very nice area. It...
13697328,47976480,412992118114914373,2021-07-23,136267173,Ann,I stayed at Brook's location for three days an...
6000084,19890109,667584364,2020-09-24,103600223,Alexandria,Great little place for a solo or couple trip! ...
9957432,22701360,1440755833169271341,2025-06-10,54384354,Ina,Diana's place was perfect for our family of 4 ...